.dateoption{
    display: inline-block;
    background-color: rgba(27,27,27);
    color:white;
    border:1px solid white;
    padding:5px;
    margin:0 5px;
}

.selected{
    background-color:white;
    color:black;
}

.dateoption .month, .date{
    display: block;
    padding:4px;
}