@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
*{
  box-sizing: border-box;
}

::-webkit-scrollbar{
  width:0.2em;
}

::-webkit-scrollbar-track{
  background: #1e1e24;
}

::-webkit-scrollbar-thumb{
  background: #6649b8;
}

body{
  margin:0;
  font-family: 'Roboto', sans-serif;
}

.dark__mode{
  --primary-color:white;
  --secondary-color:black;
}

h1{
  margin:0;
}

.light__mode{
  --primary-color:black;
  --secondary-color:white;
}

ul{
  margin:0;
  padding:0;
}

.btn{
  color:#23232e;
  background-color: #ff7eee;
  border:1px solid #23232e;
  cursor: pointer;
}

.btn:hover{
  background-color: white;
}
